[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
toolkity = "~=1.9.0"
redis = "~=2.9.0"
custom-redis = "~=3.2.0"
parsel = "*"
Scrapy = "~=2.6.1"
Jinja2 = "*"

[requires]
python_version = "3.7"
